:root {
  --primary-font-size: 1.5rem;
  --add-inventory-min-height: 30vh;
  --inventory-min-height: 100vh;
}

/* @media screen and (max-width: 979px) {
} */

/* @media only screen and (min-width: 980px) {
  :root {
    --primary-font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --primary-font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --primary-font-size: 3rem;
  }
} */

html * {
  font-size: var(--primary-font-size);
}

/* Stick navbar to top of viewport and set divs to left to right */
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* Set Minimum height of search-inventory div and inventory div */
#add-inventory {
  min-height: var(--add-inventory-min-height);
}
#inventory {
  min-height: var(--inventory-min-height);
}
#inventory > h1 {
  margin-bottom: 0;
}
#inventory > ul {
  margin: 0;
}
#add-invetory > *,
#inventory > * {
  width: 90%;
}
